<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="KeyWordsSection" type="AvaliacaoGuiando.Config.KeyWordsSection, AvaliacaoGuiando" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="PathFaturas" value="/Faturas" />
  </appSettings>
  <KeyWordsSection>
    <Fornecedores>
      <Fornecedor name="Cemig" keywords="Nº DA INSTALAÇÃO;Nº DO CLIENTE;CEMIG" />
      <Fornecedor name="Acessa" keywords="ACESSA TELECOMUNICACOES LTDA" />
      <Fornecedor name="FornecedorInsumos" keywords="Numero;Valor;Data;Descritivo" />
    </Fornecedores>
  </KeyWordsSection>
</configuration>