################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/AvaliacaoGuiando/bin/Debug/Faturas
/AvaliacaoGuiando/bin/Debug
/AvaliacaoGuiando/obj/Debug
/.vs/AvaliacaoGuiando/v15
